<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Smart RSS</title>
</head>
<body>
    <div>
        <div id="center-div">
            {% include 'nav.html' %}
            <div style="background-color: #f6f6ef; overflow: auto; padding-left: 20px; padding-right: 20px; padding-bottom: 20px; padding-top: 5px;">
                {% for item in items %}
                    <div style="padding:5px"><a class="homepage-links" href="/blog/{{ loop.index0 }}">{{ item["title"] }}</a> (<a class="homepage-links" href={{ item["url"] }}>{{ item["url"].split('/')[2] }}</a>)</div>
                {% endfor %}
            </div>
        </div>
    </div>

</body>
</html>