<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Smart RSS</title>
</head>
<body>
    <div>
        <div id="center-div">
            {% include 'nav.html' %}
            <div style="background-color: #f6f6ef; overflow: auto; padding-left: 20px; padding-right: 20px; padding-bottom: 20px; padding-top: 5px;">
                Add your RSS feeds individually:
                <br />
                <form action="/add_feed" method="post">
                    <input name="feed_url">
                    <button>Add</button>
                    {% if request.args.get('success') %}
                      <p style="color: grey;">Sucessfully added feed!</p>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>

</body>
</html>